{% load strings %}
{% load scheduletags %}
{% load i18n %}

{% for occ in occurences %}
<div class="block event {{occ.event.calendar.slug|replace:'-,_'}}_event" 
     style="{% if occ.cancelled %}background-color: grey;{% endif %}">
    <p>
        {% title occ %}
        {% if not occ.cancelled %}
        {% options occ %}
        {% endif %}
	</p>
	<p>
	{% if occ.description %}
	<em> {{occ.description}}</em><br />
	{% endif %}
		{% trans "Begins the" %} {{occ.start}} <br />	
		{% trans "Ends the" %} {{occ.end.date}} {% trans "at" %} {{occ.end.time}}
	</p>
</div>
{% endfor %}