{% load strings %}
{% load scheduletags %}
{% load i18n %}

{% for occ in occurences %}
<div class="block event {{occ.event.calendar.slug|replace:'-,_'}}_event" 
     style="{% if occ.cancelled %}background-color: grey;{% endif %}">
    <p>
        {% title occ %}<br />
        {% if not occ.cancelled %}
        {% options occ %}
        {% endif %}
	{% if occ.description %}
	<em> {{occ.description}}</em><br />
	{% endif %}
		 {{occ.start|date:'d/m/Y H:i'}} <br /> {{occ.end|date:'d/m/Y H:i'}}
	</p>
</div>
{% endfor %}