{{ block.super }}
{% load i18n %}
<script>
function openCancelDialog(node, cancel_url, delete_url, event){
  event.stopPropagation();
  var btns = {"This":function(){openURL(cancel_url, event);}, 
		      "All":function(){openURL(delete_url, event)}, 
		      "Do nothing":function(){
                  $(this).dialog("destroy");
                  $('#calendar').fullCalendar('refetchEvents');
              }};
  dia = $("#delete_dialog").dialog({'buttons':btns, 'modal':true});
  dia.dialog('open');
  return false;
}

function openEditDialog(node, occurrence_url, event_url, event){
  event.stopPropagation();
  var btns = {"This":function(){openURL(occurrence_url, event);}, 
		      "All":function(){openURL(event_url, event);}, 
		      "Do nothing":function(){
		      		$(this).dialog("destroy");
                  $('#calendar').fullCalendar('refetchEvents');
              }};
  dia = $("#edit_dialog").dialog({'buttons':btns, 'modal':true});
  $('#edit_dialog button:contains(This)').attr("id", "edit_dialog_button_this");
  $('#edit_dialog_button_this').html("Este");
  dia.dialog('open');
  return false;
}

function openMoveResizeDialog(move_or_resize_url){
	  var btns = {"This":function(){callURL(move_or_resize_url+"&target=this");}, 
	              "All":function(){callURL(move_or_resize_url+"&target=all");}, 
	              "Do nothing":function(){
	            	  $(this).dialog("destroy");
	            	  $('#calendar').fullCalendar('refetchEvents');
	              }};
	  dia = $("#move_resize_dialog").dialog({'buttons':btns, 'modal':true});
	  dia.dialog('open');
	  return false;
}

function openDetail(node){
  var btns = { "Close":function(){$(this).dialog("destroy");}};
  dia = $($(node).attr("href")).dialog({'buttons':btns, 'modal':true, 'title':'{% trans "Details" %}'});
  dia.dialog('open');
  return false;
}

function openURL(url, event){
    event.stopPropagation();
    if ($('#edit_dialog').is('dialog')) {$("#edit_dialog").dialog("destroy");}
    if ($('#delete_dialog').is('dialog')) {$("#edit_dialog").dialog("destroy");}
    if ($('#move_resize_dialog').is('dialog')) {$("#edit_dialog").dialog("destroy");}
    $.facebox({ajax : url});
}

function callURL(url, event){
    if ($('#edit_dialog').is('dialog')) {$("#edit_dialog").dialog("destroy");}
    if ($('#delete_dialog').is('dialog')) {$("#edit_dialog").dialog("destroy");}
    if ($('#move_resize_dialog').is('dialog')) {$("#edit_dialog").dialog("destroy");}
    $.get(url);
    $('#calendar').fullCalendar('refetchEvents');
}
</script>

<div style="display:none;" id="delete_dialog" title="{% trans "Question" %}">
  {% trans "Do you want to cancel this occurrence or delete all occurrences of this event?" %}
</div>

<div style="display:none;" id="edit_dialog" title="{% trans "This is a recurring event" %}">
  {% trans "Do you want to edit this occurrence or all occurrences?" %}
</div>

<div style="display:none;" id="move_resize_dialog">
  {% trans "Do you want to just move/resize this occurrence or all occurrences of this event?" %}
</div>

